body {
  background-image: url("weather-b1.jpg");
}

.navbar-toggler.custom-toggler {
  background-color: #ffffff;
}

nav {
  background-color: rgba(0, 0, 0, 0);
}

.navbar-brand {
  margin-left: 2%;
}

.nav-links {
  color: #fff; /* Change the text color to white */
  font-size: 20px; /* Change the font size to 16 pixels */
  margin-left: 10px;
  font-weight: 400;
}

.btn-outline-success {
  color: #ffffff;
  background-color: #198754;
}

.search-input {
  width: 30%;
  margin-left: 35%;
  margin-top: 10%;

  backdrop-filter: none;

  box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px, rgba(0, 0, 0, 0.05) 0 -12px 30px,
    rgba(0, 0, 0, 0.05) 0 4px 6px, rgba(0, 0, 0, 0.05) 0 12px 3px,
    rgba(0, 0, 0, 0.05) 0 -3px 5px;
}

/* .container {
  width: 30%;
} */

.container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}

.card {
  width: 30%;
  align-items: center;
  
}

.temp-text h1 {
  font-size: 48px; /* Adjust the value as desired */
}
